Source: ros-lunar-pyros-config
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-pytest, python-six, ros-lunar-catkin (>= 0.6.18), ros-lunar-catkin-pip (>= 0.2.0)
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-pyros-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pytest, python-six
Description: Configuration package for Pyros
